{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
 {#  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %} #}

    <div id="content" class="bg-page-404 {{ class }} ">
        {{ content_top }}
        <div class="col-sm-6 text-center">
                <div><img src="image/catalog/404/404-img-text.png" alt=""></div>
            </div>
        
            <div class="dec col-sm-6">
                <p>{{ text_error }}</p>
                <a href="{{ continue }}" class="btn btn-primary" title="{{ button_home }}">{{ button_home }}</a>
            </div>
       
    </div>

    {# {{ column_right }} #}
  {#   </div> #}
</div>
{{ footer }}
