{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>

      <div class="panel-body">


        <form action="{{ form_action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-action">{{ entry_campaign }}</label>
            <div class="col-sm-10">
              <input class="form-control" id="input-action" type="text" name="campaign_name" value="{{ campaign_name }}" placeholder="Campaign" />
            </div>
          </div>

           <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-action">{{ entry_campaign_description }}</label>
            <div class="col-sm-10">
              <input class="form-control" id="input-action" type="text" name="campaign_desc" value="{{ campaign_desc }}" placeholder="description" />
            </div>
          </div>

          <div class="form-group required">

          <label class="col-sm-2 control-label" for="input-customer-group">{{ entry_customer_group }}</label>
          <div class="col-sm-10">
            <select name="customer_group" id="input-customer-group" class="form-control">
              {% for customer_group in customer_groups %}
              {% if customer_group.customer_group_id == customer_group_id %}
              <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
              {% else %}
              <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          </div>


           <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-start-at">{{ entry_start_at }}</label>
            <div class="col-sm-3">
              <input class="form-control" id="input-start-at" type="date" name="start_at" value="{{ start_at }}" placeholder="{{ entry_start_at }}" />
            </div>

            <label class="col-sm-2 control-label" for="input_start_time_at">{{ entry_start_time_at }}</label>
            <div class="col-sm-3">
              <input class="form-control" id="input_start_time_at" type="time" name="start_time_at" value="{{ start_time_at }}" placeholder="{{ entry_start_time_at }}" />
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input_repeat_on">{{ entry_repeat_on }}</label>
            <div class="col-sm-10">
              <select name="repeat_on" id="input-cycle" class="form-control">
                <option value="none"{{ repeat_on == 'none' ? ' selected="selected"' : '' }}>{{ text_none }}</option>
                <option value="daily"{{ repeat_on == 'daily' ? ' selected="selected"' : '' }}>{{ text_day }}</option>
                <option value="weekly"{{ repeat_on == 'weekly' ? ' selected="selected"' : '' }}>{{ text_week }}</option>
                <option value="monthly"{{ repeat_on == 'monthly' ? ' selected="selected"' : '' }}>{{ text_month }}</option>
              </select>
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input_notif_type">{{ entry_notification_type }}</label>
            <div class="col-sm-10">
              <select name="notif_type" id="input-cycle" class="form-control">
                <option value="push"{{ notif_type == 'push' ? ' selected="selected"' : '' }}>{{ text_push }}</option>
                <option value="email"{{ notif_type == 'email' ? ' selected="selected"' : '' }}>{{ text_email }}</option>
              </select>
            </div>
          </div>

           <div class="form-group required">
            <label class="col-sm-2 control-label" for="input_notif_content">{{ entry_notification_content }}</label>
            <div class="col-sm-10">
              <input class="form-control" id="input-notif_content" type="JSON" name="notif_content" value="{{ notif_content }}" placeholder="Content" />
            </div>
          </div>


          {# <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-default danger {{ status == 0 ? ' active' }}" data-toggle="tooltip" title="{{ text_disabled }}">
                  <input type="radio" name="status" value="0" {{ status == 0 ? ' checked="checked" ' }}/><i class="fa fa-fw fa-times"></i>
                </label>
                <label class="btn btn-default success {{ status == 1 ? ' active' }}" data-toggle="tooltip" title="{{ text_enabled }}">
                  <input type="radio" name="status" value="1" {{ status == 1 ? ' checked="checked" ' }}/><i class="fa fa-fw fa-check"></i>
                </label>
              </div>
            </div>
          </div> #}

        </form>

      </div>



    </div>
  </div>
</div>
{{ footer }}
