{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}
{% set hidden_headertop = soconfig.get_settings('toppanel_type') =='1' or soconfig.get_settings('toppanel_type') =='2' ? 'hidden-compact' : '' %}

<header id="header" class="variant typeheader-{{ typeheader ? typeheader : '2'}}">
    
    
    <div id="tracklocationpopup" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Store Location</h4>
          </div>
          <div class="modal-body">
           
           <table class="table table-bordered">
  <tbody>
    <tr>
      <td><p><b>Konfulon Nokorsamrith</b></p>
        <p>Contact Info</p>
        <p></p>
        <p>Address : {{ address }} </p>
        <p>Email : {{ email }} </p>
        <p>Call To Us : {{ telephone }}</p>
        <div style="width: 100%">
          <div style="width: 100%">
            <div style="width: 100%">
             <iframe  frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDoaFr9HOrQ6RBYCWq_QxR7XZkTBmZlSuQ
             &q=Konfulon, Phnom Penh, Cambodia" allowfullscreen></iframe>
            </div><br>
          </div>
          <br>
        </div>
        <br></td>
      
    </tr>
    <tr>
     
     
    </tr>
  </tbody>
</table>
           
           
           
<img src="" alt="popup">
          </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    
    
    {#======	HEADER TOP	=======#}  
	<div class="header-top {{hidden_headertop}}">
		<div class="container">
			<div class="row">
				<div class="header-top-left collapsed-block col-lg-8 col-md-7 col-sm-8 col-xs-12 hidden-xs">
		  {#======	{{header_block2}} =======#}  
			
			<div class="module track-location ">
   
  
  																																	<ul class="top-link list-inline track-store">							
<li class="track-order"><i class="fa fa-truck"></i><span> 
{% if logged %} 
<a class="link-lg" href="https://konfulononline.com/index.php?route=account/order">
{% else %}   
<a class="link-lg" href="#">
{% endif %} 	
Track your order</a>
</span></li>
<li class="store-location"><i class="fa fa-map-marker"></i> <span><a class="link-lg" data-toggle="modal" data-target="#tracklocationpopup">Store location</a></span></li>								
</ul> 
</div>


					{% if soconfig.get_settings('welcome_message_status') %}
						<div class="hidden-sm hidden-xs welcome-msg">
							{% if soconfig.get_settings('welcome_message') is not empty %}
								{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
							{% endif %} 
						</div>
					{% endif %}
					{% if soconfig.get_settings('checkout_status') %}
						<div class="link_checkout hidden-xs"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><span >{{ text_checkout }} </span></a></div>
					{% endif %} 	
					
					<div class="pull-right hidden hidden-xs">
						{% if header_block is not empty %}
							{{header_block}}
						{% endif %}
					</div>

				

				</div>	
				<div class="header-top-right collapsed-block col-lg-4 col-md-5 col-sm-4 col-xs-12">	
					
						<ul class="top-link list-inline lang-curr">							
							{% if logged %} 
								<li class="language"><i ></i> <a href="{{ logout }} "> {{ text_logout }} </a></li>
							{% else %}   
								<li class="language"><i ></i><span><a  href="{{ login }} ">{{ text_login }} </a> {{ objlang.get('text_or') }} <a href="{{ register }}">{{ text_register }}</a></span></li>								
							{% endif %} 								
						</ul>														
					
					{% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
						<div class="telephone hidden-sm" >
							{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
						</div>
					{% endif %} 

					{% if soconfig.get_settings('lang_status') %}
					<ul class="top-link list-inline lang-curr">
					<li class="language"> {{ text_customer_name }} </li>
					 <!--     {% if language %} <li class="language">{{ language }} </li>	{% endif %} -->
					<!-- 	{% if currency %}<li class="currency"> {{ currency }}  </li> {% endif %}	-->			
					</ul>				
					{% endif %} 	
				</div>
			</div>
		</div>
	</div>

	<!-- HEADER CENTER -->
	<div class="header-center {{ hidden_headercenter }}">
		<div class="container">
			<div class="row">
				<!-- LOGO -->
				<div class="navbar-logo col-md-3 col-sm-12 col-xs-12">
					<div class="logo">
				   		{{soconfig.get_logo()}}
				   	</div>
				</div>
				<div class="header-center-right col-md-9 col-sm-12 col-xs-12">	
					<div class="row">
						{% if search_block %}
							<div class="search-header-w col-lg-9 col-md-8 col-sm-8 col-xs-12">
								<span class="hidden-lg hidden-md hidden-sm search-mobi"><i class="fa fa-search"></i></span>	
								<div class="searchbox">			
								 {{ search_block }}
								</div>
							</div>
						{% endif %} 
							
							<div class="shopping_cart">							
							 	{{ cart }}
							</div>
							
					</div>
				</div>
			</div>           

		</div>
	</div>
	
	<!-- HEADER BOTTOM -->
	<div class="header-bottom {{ hidden_headerbottom }}">
		<div class="container">
		    <div class="row">
				
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 menu-vertical">
					<div class=" megamenu-dev">
					{{ content_menu2 }}
					</div>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-8 mega-horizontal">
					<div class="megamenu-style-dev megamenu-dev">
						<!-- BOX CONTENT MENU -->
						{{ content_menu1}}	
					</div>				
				</div>
			</div>
		</div>
	  
	</div>
	
	
</header>