{{ header }}
<div class="breadcrumbs">
  <div class="container">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>
<div class="container">
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div style="width: 100%">
          <div style="width: 100%">
            <div style="width: 100%">
             <iframe  frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDoaFr9HOrQ6RBYCWq_QxR7XZkTBmZlSuQ
             &q={{ address }}" allowfullscreen></iframe>
            </div><br>
          </div>
          <br>
        </div>
		<div class="info-contact row">
			
			<div class="col-sm-4 col-xs-12 info-store">
	          <div class="name-store"><h3>{{ store }}</h3></div>
	          {% if comment %}
	            <div class="comment">
	            	{{ comment }}
	            </div>
	          {% endif %} 
	            <address>
	            <div class="address clearfix form-group"><div class="pull-left"><i class="fa fa-home"></i></div><div class="text">{{ address }}</div></div>
	            <div class="form-group"><div class="pull-left"><i class="fa fa-phone"></i></div><div class="text">{{ telephone }}</div></div>
	            {% if fax %}
	            <div class="form-group"><div class="pull-left"><i class="fa fa-fax"></i></div><div class="text"> {{ fax }}</div></div>
	            {% endif %} 
	            {% if open %}
	            <div class="form-group"><div class="pull-left"><i class="fa fa-clock-o"></i></div><div class="text">{{ text_open }} {{ open }}</div>  </div>
	           {% endif %} 
	            {% if geocode %}
	                    <a href="https://maps.google.com/maps?q=<?php echo urlencode($geocode); ?>&hl=<?php echo $geocode_hl; ?>&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
	                     {% endif %} 
	            </address>
	            <div class="socials">
					<ul>
						<li><a href="https://www.facebook.com/flytheme"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/Flytheme"><i class="fa fa-twitter"></i></a></li>       
						<li><a href="https://plus.google.com/u/0/b/102399087761949580069/102399087761949580069/posts"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="https://www.linkedin.com/in/flytheme"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
					</ul>
				</div>
	        </div>
		
		</div>
		
		
      
	  
      
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
